* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: ;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  background-color: black;
}
.search {
  width: 600px;
  background-color: #eee;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}
.search .s {
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
}
.search input {
  background-color: #2b2b2b;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  width: 300px;
  margin-bottom: 10px;
}
.search input:focus {
  outline: none;
}
.search input[type="submit"] {
  cursor: pointer;
}
.posts {
  width: 600px;
  margin: auto;
  background-color: #f3f3f3;
  padding: 10px;
}
.post {
  background-color: #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}
.p-info {
  background-color: #2b2b2b;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
/* .post .p-title {
  float: right;
} */
.post .p-title,
.post .commsno {
  font-size: 20px;
  color: #fff;
}
.user-info {
  padding: 5px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info .name {
  color: #607d8b;
  font-size: 14px;
  font-weight: bold;
}
.user-info .mail {
  font-size: 10px;
  color: #9e9e9e;
}
/* .user-info .mail {
  margin-top: 5px;
} */

.comment {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}
.comment::after {
  content: "";
  border: 10px solid;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}
